<launch>

  <group ns="realsense2_camera">
    <param name="cam0/name"        type="str" value="camera"/>
    <param name="camera/serial_no" type="str" value=""/>
    <rosparam ns="camera" command="load" file="$(find realsense2_camera)/launch/params/default_rs.yaml"/>
    <param name="camera/enable_sync" type="bool" value="true"/>
    <param name="camera/align_depth" type="bool" value="true"/>
  </group>

  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml"/>

</launch>
