<launch>
  <arg name="serial_no_camera1"    			default=""/>
  <arg name="serial_no_camera2"    			default=""/>
  <arg name="camera1"              			default="t265"/>
  <arg name="camera2"              			default="d400"/>
  <arg name="initial_reset"             default="false"/>
  <arg name="enable_fisheye"            default="false"/>
  <arg name="color_width"               default="640"/>
  <arg name="color_height"              default="480"/>
  <arg name="depth_width"               default="640"/>
  <arg name="depth_height"              default="480"/>
  <arg name="clip_distance"             default="-2"/>
  <arg name="topic_odom_in"             default="odom_in"/>
  <arg name="calib_odom_file"           default=""/>

  <group ns="realsense2_camera">
    <param name="cam0/name"        type="str" value="$(arg camera1)"/>
    <param name="$(arg camera1)/serial_no" type="str" value="$(arg serial_no_camera1)"/>
    <rosparam ns="$(arg camera1)" command="load" file="$(find realsense2_camera)/launch/params/default_t265.yaml"/>
    <param name="$(arg camera1)/initial_reset"   type="bool" value="$(arg initial_reset)"/>
    <param name="$(arg camera1)/enable_fisheye1" type="bool" value="$(arg enable_fisheye)"/>
    <param name="$(arg camera1)/enable_fisheye2" type="bool" value="$(arg enable_fisheye)"/>
    <param name="$(arg camera1)/topic_odom_in"   type="str"  value="$(arg topic_odom_in)"/>
    <param name="$(arg camera1)/calib_odom_file" type="str"  value="$(arg calib_odom_file)"/>

    <param name="cam1/name"        type="str" value="$(arg camera2)"/>
    <param name="$(arg camera2)/serial_no" type="str" value="$(arg serial_no_camera2)"/>
    <rosparam ns="$(arg camera2)" command="load" file="$(find realsense2_camera)/launch/params/default_rs.yaml"/>
    <param name="$(arg camera2)/initial_reset" type="bool" value="$(arg initial_reset)"/>
    <param name="$(arg camera2)/align_depth"   type="bool" value="true"/>
    <param name="$(arg camera2)/filters"       type="str" value="pointcloud"/>
    <param name="$(arg camera2)/color_width"   type="int" value="$(arg color_width)"/>
    <param name="$(arg camera2)/color_height"  type="int" value="$(arg color_height)"/>
    <param name="$(arg camera2)/depth_width"   type="int" value="$(arg depth_width)"/>
    <param name="$(arg camera2)/depth_height"  type="int" value="$(arg depth_height)"/>
    <param name="$(arg camera2)/clip_distance" type="float" value="$(arg clip_distance)"/>
  </group>

  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml"/>

  <node pkg="tf" type="static_transform_publisher" name="t265_to_d400" args="0 0 0 0 0 0 /$(arg tf_prefix_camera1)_link /$(arg tf_prefix_camera2)_link 100"/>
</launch>
