<!--
Important Notice: For wheeled robots, odometer input is a requirement for robust
and accurate tracking. The relevant APIs will be added to librealsense and
ROS/realsense in upcoming releases. Currently, the API is available in the
https://github.com/IntelRealSense/librealsense/blob/master/third-party/libtm/libtm/include/TrackingDevice.h#L508-L515.
-->
<launch>

  <group ns="realsense2_camera">
    <param name="cam0/name"        type="str" value="camera"/>
    <param name="camera/serial_no" type="str" value=""/>
    <rosparam ns="camera" command="load" file="$(find realsense2_camera)/launch/params/default_t265.yaml"/>
  </group>

  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml"/>

</launch>
