<launch>
  <arg name="serial_no_camera1"    			default=""/> 			<!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera2"    			default=""/> 			<!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera3"    			default=""/> 			<!-- Note: Replace with actual serial number -->
  <arg name="camera1"              			default="camera1"/>		<!-- Note: Replace with camera name -->
  <arg name="camera2"              			default="camera2"/>		<!-- Note: Replace with camera name -->
  <arg name="camera3"              			default="camera3"/>		<!-- Note: Replace with camera name -->
  <arg name="initial_reset"             default="false"/>

  <group ns="realsense2_camera">
    <param name="cam0/name"                  type="str" value="$(arg camera1)"/>
    <param name="$(arg camera1)/serial_no" type="str" value="$(arg serial_no_camera1)"/>
    <rosparam ns="$(arg camera1)" command="load"   file="$(find realsense2_camera)/launch/params/default_t265.yaml"/>
    <param name="$(arg camera1)/initial_reset" type="bool" value="$(arg initial_reset)"/>

    <param name="cam1/name"                  type="str" value="$(arg camera2)"/>
    <param name="$(arg camera2)/serial_no" type="str" value="$(arg serial_no_camera2)"/>
    <rosparam ns="$(arg camera2)" command="load"   file="$(find realsense2_camera)/launch/params/default_t265.yaml"/>    
    <param name="$(arg camera2)/initial_reset" type="bool" value="$(arg initial_reset)"/>

    <param name="cam2/name"                  type="str" value="$(arg camera3)"/>
    <param name="$(arg camera3)/serial_no" type="str" value="$(arg serial_no_camera3)"/>
    <rosparam ns="$(arg camera3)" command="load"   file="$(find realsense2_camera)/launch/params/default_t265.yaml"/>    
    <param name="$(arg camera3)/initial_reset" type="bool" value="$(arg initial_reset)"/>
  </group>

  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml"/>

</launch>
